/*styles for the events page*/

/*remove the bullets from the list*/
#eventsList{
	list-style: none;
}
/*make the list items block elements and add spacing*/
#eventsList li{
	display:block;
	margin:10px;
}

.eventItem{
	position: relative;
}
/*move the image to the left of text and add spacing*/
.eventItem img{
	float:left;
	display: inline-block;
	margin-top:5px;
	margin-right: 10px;
}

/*ensure title stays on its own line*/
.title {
	clear:both;
}

.eventItem img{
	width:20%;
}
