footer{
    background-color: #0d0d0d;
    color:whitesmoke;
    clear:both;
    width:100%;
}

footer #navList li a{
    color: whitesmoke;
}

footer #navList li{
    margin:5px;
}

footer #nav{
    padding:20px;
}

#navList{
    list-style: none;
}


