#mainContent{
	display: flex;
}

#twitterFeed {
	margin:0px;
	flex: 1 0 20%;
	box-shadow: -1px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

#categories {
	flex: 1 0 10%;
	float: left;
	margin-left: 5px;
	padding: 20px;
	box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 25px
}

#categories li {
	list-style: none;
	margin-bottom: 10px;
}

#intro {
	clear: both;
	text-align: center;
	margin-top: 10px;
}

#featuredSlideShow {
	text-align: center;
	flex: 2 0 60%;

}

#slideshowContainer{
	height:500px;
}

#categoryList li a:hover {
	color: darkblue;
	text-decoration: underline;
}
