@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800&subset=latin-ext');

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 20px;
}

h1 {
    color: #0d0d0d;
}

nav {
    margin-bottom: 25px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

#navBar {
    text-align: center;
    font-size: 28px;
}

.navBtn {
    display: inline;
    padding-left: 5%;
    padding-right: 5%;
}

#logo {
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: none;
    color: black;
}

li a:visited {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #808080;
}

.title {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#cartBtn{
	float:right;
	width: 3%;
	vertical-align: middle;
}
