#productSection ul {
    margin: 0 auto;
    text-align: center;
}

#productSection li {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.productContainer:hover {
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.productContainer:hover .imgOverlayText {
    opacity: 1;
}

.productThumb {
    width: auto;
}

.productTitle {
    text-decoration: underline;
    float: left;
    font-weight: bold;
}

.productPrice {
    font-weight: lighter;
    float: right;
}

.productDescriptor {
    overflow: hidden;
    border-top: 3px;
    border-color: black;
}

.productContainer{
    position: relative;
}

.imgOverlayText {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    display: table;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 10;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.imgOverlayText span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
