#Container3D {
    width: 100%;
    height: 500px;
    /*Testing
    background-color: black;
    */
}

#controls {
    opacity: 0.5;
    margin: 0px;
    text-align: center;
    width: 100%;
}

#productInfo {
    width: 40%;
    flex: 1;
}

#config {
    flex: 1;
}

.title {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#totaller {
    flex: 0 0 20%;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: thin;
    border-right-width: thin;
}

#partsList {
    list-style: none;
}

.leftPart {
    float: left;
    display: inline-block;
    text-align: left;
    margin-left: 5%;
}

.rightPart {
    float: right;
    display: inline-block;
    text-align: right;
    margin-right: 5%;
}

#details {
    display: flex;
}

#prodBasePrice {
    font-weight: normal;
    margin: 20px;
    text-decoration: underline;
}

#totalPrice {
    display: inline-block;
    margin:15px;
    font-size:18px;
    float:right;
    text-align: right;
}

.cartBtn {
    margin: 10px;
    border-radius: 2px;
    padding:5px;
    font-size: 18px;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    background-color: #009933;
    box-shadow: 0px 2px 0px 0px #006622;

}

.cartBtn:active {
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    box-shadow: 0px 1px 0px 0px;
}

.cartBtn:hover {
    background-color: #00ff55;
}

#totaller hr {
    margin-top:10px;
    margin-bottom:10px;
}

#configurator{
    list-style: none;
}

#configurator li{
    margin:10px;
}
