#productSection ul {
    margin: 0 auto;
    text-align: center;
}

#productSection li {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

.productContainer:hover {
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.productThumb {
    width: auto;
}

.productTitle {
    text-decoration: underline;
    float: left;
    font-weight: bold;
}

.productPrice {
    font-weight: lighter;
    float: right;
}

.productDescriptor {
    overflow: hidden;
    border-top: 3px;
    border-color: black;
}
