/*styles for product category pages*/

/*set margin for the unordered list that will contain the grid of products*/
#productSection ul {
    margin: 0 auto;
    text-align: center;
}

/*make sure each item is aligned and in a grid and add spacing around it*/
#productSection li {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}

/*add a shadow and round the corners when hovering over a product*/
.productContainer:hover {
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/*show the 'click to customise' overlay when hovering over*/
.productContainer:hover .imgOverlayText {
    opacity: 1;
}


.productThumb {
    width: auto;
}

/*add text formatting and title to the left*/
.productTitle {
    text-decoration: underline;
    float: left;
    font-weight: bold;
}

/*format text and move price to the right*/
.productPrice {
    font-weight: lighter;
    float: right;
}

.productDescriptor {
    overflow: hidden;
    border-top: 3px;
    border-color: black;
}

.productContainer {
    position: relative;
}

/*
set the background as slightly transparent black
set the text colour as white
set the cursor type
use a table display to center the text vertically and horizontally easily
set the height to the same height as the image
add timing for opcacity transition for fade in/out
*/
.imgOverlayText {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: pointer;
    display: table;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

/*set up table cell and align text to center*/
.imgOverlayText span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
